/**
 * Alignment Classes
 */

 .entry-content > * {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 1.25em;
}

.alignnone,
.aligncenter,
.alignleft,
.alignright,
.alignwide {
	margin-top: 4rem;
	margin-right: auto;
	margin-bottom: 4rem;
	margin-left: auto;
}

[class*="__inner-container"] > *:not(.alignwide):not(.alignfull):not(.alignleft):not(.alignright) {
	margin-left: auto;
	margin-right: auto;

	&:not(.is-style-wide) {
		max-width: $medium-max-width;
		width: 100%;
	}
}

// Full

.alignfull {
	margin-top: 5rem;
	margin-right: auto;
	margin-bottom: 5rem;
	margin-left: auto;
	max-width: 100vw;
	position: relative;
	width: 100%;
}

[class*="__inner-container"] > .alignfull {
	max-width: 100%;
}

// Wide

.alignwide {
	max-width: $large-max-width;
	position: relative;
	width: calc(100% - 4rem);
}

[class*="__inner-container"] > .alignwide {
	width: 100%;
}

// Center

.aligncenter,
.aligncenter img {
	margin-left: auto;
	margin-right: auto;
}

// Left and right

.alignleft,
.alignright {
	max-width: 50%;
}

.alignleft {
	/*rtl:ignore*/
	float: left;
	margin: 0.3rem 2rem 2rem 2rem;
}

.alignright {
	/*rtl:ignore*/
	float: right;
	margin: 0.3rem 2rem 2rem 2rem;
}

@media ( min-width: $xsmall ) {
	.alignleft,
	.alignright {
		max-width: 26rem;
	}
}

@media ( min-width: $small ) {
	.alignnone,
	.aligncenter {
		margin-bottom: 4rem;
		margin-top: 4rem;
	}

	.alignleft {
		/*rtl:ignore*/
		margin: 0.3rem 2rem 2rem 0;
	}

	.alignright {
		/*rtl:ignore*/
		margin: 0.3rem 0 2rem 2rem;
	}
}
