
// Text colour
.color-accent {
	&,
	&-hover:focus,
	&-hover:hover {
		color: #cd2653;
	}
}

// Background colour
.bg-accent {
	&,
	&-hover:focus,
	&-hover:hover {
		background-color: #cd2653;
	}
}

// Border colour
.border-color-accent {
	&,
	&-hover:focus,
	&-hover:hover {
		border-color: #cd2653;
	}
}

// Fill colour
.fill-children-accent {
	&,
	* {
		fill: #cd2653;
	}
}
.fill-children-current-color {
	&,
	* {
		fill: currentColor;
	}
}

// Opacity
.opacity {
	&-0 {
		opacity: 0;
	}

	&-5 {
		opacity: 0.05;
	}

	&-10 {
		opacity: 0.1;
	}

	&-15 {
		opacity: 0.15;
	}

	&-20 {
		opacity: 0.2;
	}

	&-25 {
		opacity: 0.25;
	}

	&-30 {
		opacity: 0.3;
	}

	&-35 {
		opacity: 0.35;
	}

	&-40 {
		opacity: 0.4;
	}

	&-45 {
		opacity: 0.45;
	}

	&-50 {
		opacity: 0.5;
	}

	&-55 {
		opacity: 0.55;
	}

	&-60 {
		opacity: 0.6;
	}

	&-65 {
		opacity: 0.65;
	}

	&-70 {
		opacity: 0.7;
	}

	&-75 {
		opacity: 0.75;
	}

	&-80 {
		opacity: 0.8;
	}

	&-85 {
		opacity: 0.85;
	}

	&-90 {
		opacity: 0.9;
	}
}

// Blend mode
.blend-mode {
	&-exclusion {
		mix-blend-mode: exclusion;
	}
	
	&-hue {
		mix-blend-mode: hue;
	}
	
	&-saturation {
		mix-blend-mode: saturation;
	}
	
	&-color {
		mix-blend-mode: color;
	}
	
	&-luminosity {
		mix-blend-mode: luminosity;
	}
}
