
ul,
ol {
	margin: 0 0 (1.5 * $base-margin) (1.5 * $base-margin);
}

ul {
	list-style: disc;

	ul {
		list-style: circle;

		ul {
			list-style: square;
		}
	}
}

ol {
	list-style: decimal;

	ol {
		list-style: lower-alpha;

		ol {
			list-style: lower-roman;
		}
	}
}

li {
	line-height: 1.5;
	margin: 0.5rem 0 0 $base-margin;

	> ul,
	> ol {
		margin: 1rem 0 0 $base-margin;
	}
}

.reset-list-style {
	&,
	ul,
	ol {
		list-style: none;
		margin: 0;
	}

	li {
		margin: 0;
	}
}

dt,
dd {
	line-height: 1.5;
}

dt {
	font-weight: 700;

	+ dd {
		margin-top: 0.5rem;
	}
}

dd + dt {
	margin-top: 1.5rem;
}

@media ( max-width: ($xsmall - 1px) ) {
	ul,
	ol {
		margin: 0 0 (1.5 * $base-margin) $base-margin;
	}

	li {
		margin: 0.5rem 0 0 1rem;
	}
}

@media ( min-width: $small ) {
	ul,
	ol {
		margin-bottom: (2 * $base-margin);
	}
}
