
figure {
	display: block;
	margin: 0;
}

iframe {
	display: block;
	max-width: 100%;
}

video {
	display: block;
}

svg,
img,
embed,
object {
	display: block;
	height: auto;
	max-width: 100%;
}

figcaption,
.wp-caption-text {
	color: #6d6d6d;
	display: block;
	font-size: 1.5rem;
	font-weight: 500;
	line-height: 1.2;
	margin-top: 1.5rem;

	a {
		color: inherit;
	}

	@at-root .alignfull > & {
		margin-left: auto;
		margin-right: auto;
		max-width: 58rem;
		width: calc(100% - 4rem);
	}
}

blockquote.instagram-media,
iframe.instagram-media {
	margin: auto !important;
}

@media ( min-width: $small ) {
	figcaption,
	.wp-caption-text {
		margin-top: 1.8rem;
	}

	.alignfull > figcaption,
	.alignfull > .wp-caption-text {
		width: calc(100% - 8rem);
	}
}

@media ( min-width: $desktop-nav ) {
	.alignfull > figcaption,
	.alignfull > .wp-caption-text {
		width: calc(100% - 10rem);
	}
}
