
blockquote {
	border-color: $accent-color;
	border-style: solid;

	/*rtl:ignore*/
	border-width: 0 0 0 0.2rem;
	color: inherit;
	font-size: 1em;
	margin: (2 * $base-margin) 0;

	/*rtl:ignore*/
	padding: 0.5rem 0 0.5rem $base-margin;

	cite {
		display: block;
		margin: $base-margin 0 0 0;
	}

	p:last-child {
		margin: 0;
	}
}

cite {
	color: $secondary-color;
	font-size: 1.4rem;
	font-style: normal;
	font-weight: 600;
	line-height: 1.25;
}
