/**
 * Full Width Template
 *
 * @group Templates
 * @components
		core/alignment helpers
		organisms/entry-content
 */

body.template-full-width {

	.entry-content ,
	[class*="__inner-container"] {
		> *:not(.alignwide):not(.alignfull):not(.alignleft):not(.alignright):not(.is-style-wide) {
			max-width: 120rem;
		}
	}

	.entry-content {
		.alignleft,
		.alignright {
			position: static;
		}

	}

	.entry-content .alignleft,
	[class*="wp-block"].alignwide [class*="__inner-container"] > .alignleft,
	[class*="wp-block"].alignwide [class*="__inner-container"] > p .alignleft,
	[class*="wp-block"].alignwide [class*="__inner-container"] > .wp-block-image .alignleft {

		/*rtl:ignore*/
		margin-left: 0;
		position: static;
	}

	.entry-content > .alignleft,
	[class*="wp-block"].alignfull:not(.has-background) [class*="__inner-container"] > .alignleft,
	[class*="wp-block"].alignfull:not(.has-background) [class*="__inner-container"] > p .alignleft,
	[class*="wp-block"].alignfull:not(.has-background) [class*="__inner-container"] > .wp-block-image .alignleft {

		/*rtl:ignore*/
		margin-left: 2rem;
		position: static;
	}

	.entry-content .alignright,
	[class*="wp-block"].alignwide [class*="__inner-container"] > .alignright,
	[class*="wp-block"].alignwide [class*="__inner-container"] > p .alignright,
	[class*="wp-block"].alignwide [class*="__inner-container"] > .wp-block-image .alignright {

		/*rtl:ignore*/
		margin-right: 0;
		position: static;
	}

	.entry-content > .alignright,
	[class*="wp-block"].alignfull:not(.has-background) [class*="__inner-container"] > .alignright,
	[class*="wp-block"].alignfull:not(.has-background) [class*="__inner-container"] > p .alignright,
	[class*="wp-block"].alignfull:not(.has-background) [class*="__inner-container"] > .wp-block-image .alignright {

		/*rtl:ignore*/
		margin-right: 2rem;
		position: static;
	}
}

@media ( min-width: $small ) {

	body.template-full-width .entry-content > *:not(.alignwide):not(.alignfull):not(.alignleft):not(.alignright):not(.is-style-wide) {
		width: calc(100% - 8rem);
	}

	body.template-full-width .alignfull:not(.has-background) > .wp-block-group__inner-container > p:not(.has-background-color) {
		padding-left: 4rem;
		padding-right: 4rem;
	}

	body.template-full-width [class*="wp-block"].alignfull [class*="__inner-container"] > .alignleft,
	body.template-full-width [class*="wp-block"].alignfull [class*="__inner-container"] > p .alignleft,
	body.template-full-width [class*="wp-block"].alignfull [class*="__inner-container"] > .wp-block-image .alignleft {

		/*rtl:ignore*/
		margin-left: 4rem;
	}

	body.template-full-width [class*="wp-block"].alignfull [class*="__inner-container"] > .alignright,
	body.template-full-width [class*="wp-block"].alignfull [class*="__inner-container"] > p .alignright,
	body.template-full-width [class*="wp-block"].alignfull [class*="__inner-container"] > .wp-block-image .alignright {

		/*rtl:ignore*/
		margin-right: 4rem;
	}
}

@media ( min-width: $desktop-nav ) {
	.template-full-width .wp-block-image .alignleft {
		/*rtl:ignore*/
		margin-right: 2rem;
	}

	.template-full-width .wp-block-image .alignright {
		/*rtl:ignore*/
		margin-left: 2rem;
	}
}

@media ( min-width: ($large - 40px) ) {
	body.template-full-width .entry-content > .alignleft {
		/*rtl:ignore*/
		margin-left: calc(( 100vw - 120rem ) / 2);
	}

	body.template-full-width .entry-content > .alignright {
		/*rtl:ignore*/
		margin-right: calc(( 100vw - 120rem ) / 2);
	}
}

@media ( min-width: $large ) {
	body.template-full-width .alignfull:not(.has-background) > .wp-block-group__inner-container > p:not(.has-background-color) {
		padding-left: 0;
		padding-right: 0;
	}

	body.template-full-width [class*="wp-block"].alignfull [class*="__inner-container"] > .wp-block-image .alignleft {
		/*rtl:ignore*/
		margin-left: 0;
	}

	body.template-full-width [class*="wp-block"].alignfull [class*="__inner-container"] > .wp-block-image .alignright {
		/*rtl:ignore*/
		margin-right: 0;
	}
}
