/**
 * Archived post template
 *
 * @group Templates
 * @components
		atoms/typography
 */

.archive {

	&-header {
		background-color: $header-footer-background-color;
		padding: (2 * $base-margin) 0;

		@at-root .reduced-spacing & {
			padding-bottom: $base-margin;
		}
	}

	&-title {
		font-size: 2.4rem;
		font-weight: 700;
		letter-spacing: -0.026666667em;
		margin: 0;
	}

	&-subtitle p:last-child {
		margin-bottom: 0;
	}
}

@media ( min-width: $small ) {
	.archive-header {
		padding: (4 * $base-margin) 0;
	}

	.reduced-spacing .archive-header {
		padding-bottom: (1.5 * $base-margin);
	}

	.archive-title {
		font-size: 3.2rem;
	}

	body:not(.singular) main > article:first-of-type {
		padding: (4 * $base-margin) 0 0;
	}

	h2.entry-title {
		font-size: 6.4rem;
	}
}
