/**
 * Global layouts and styles for all contents which fall by default under that microformat
 * (see http://microformats.org/wiki/hentry)
 *
 * @group Templates
 * @components
		atoms/lists,
		atoms/media,
		atoms/quotes,
		atoms/typography
 */

.entry-content {
	line-height: 1.5;

	> * {

		&:first-child {
			margin-top: 0;
		}

		&:last-child {
			margin-bottom: 0;
		}
	}

	a:hover,
	a:focus {
		text-decoration: none;
	}

	p,
	li {
		line-height: 1.4;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		margin: 3.5rem auto $base-margin;
	}

	ul ul,
	ol ol,
	ul ol,
	ol ul {
		margin-bottom: 1rem;
	}

	hr {
		margin: (2 * $base-margin) auto;
	}

	// Font Families

	p,
	ol,
	ul,
	dl,
	dt {
		font-family: NonBreakingSpaceOverride, "Hoefler Text", Garamond, "Times New Roman", serif;
		letter-spacing: normal;
	}

	cite,
	figcaption,
	.wp-caption-text {
		font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, sans-serif;
	}

	@supports ( font-variation-settings: normal ) {

		cite,
		figcaption,
		.wp-caption-text {
			font-family: "Inter var", -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, sans-serif;
		}
	}

	// Alignment Classes

	> *:not(.alignwide):not(.alignfull):not(.alignleft):not(.alignright):not(.is-style-wide) {
		max-width: $medium-max-width;
		width: calc(100% - #{(2 * $base-margin)});
	}
}

@media ( min-width: ($small - 40px) ) {

	// Alignment Classes

	.entry-content > .alignleft {

		/*rtl:ignore*/
		margin-left: (2 * $base-margin);
	}

	.entry-content > p .alignleft,
	.entry-content > .wp-block-image .alignleft {

		/*rtl:ignore*/
		margin-left: calc(( 100vw - #{$medium-max-width} - #{(4 * $base-margin)} ) / -2);
	}

	.entry-content > .alignright {

		/*rtl:ignore*/
		margin-right: (2 * $base-margin);
	}

	.entry-content > p .alignright,
	.entry-content > .wp-block-image .alignright {

		/*rtl:ignore*/
		margin-right: calc(( 100vw - #{$medium-max-width} - #{(4 * $base-margin)} ) / -2);
	}
}

@media ( min-width: $small ) {
	.entry-content {
		font-size: 2.1rem;
	}

	.entry-content p,
	.entry-content li {
		line-height: 1.476;
	}

	.entry-content h1,
	.entry-content h2,
	.entry-content h3 {
		margin: (3 * $base-margin) auto (1.5 * $base-margin);
	}

	.entry-content h4,
	.entry-content h5,
	.entry-content h6 {
		margin: 4.5rem auto 2.5rem;
	}

	.entry-content .wp-block-columns h1,
	.entry-content .wp-block-columns h2,
	.entry-content .wp-block-columns h3,
	.entry-content .wp-block-columns h4,
	.entry-content .wp-block-columns h5,
	.entry-content .wp-block-columns h6 {
		margin: 3.5rem 0 $base-margin;
	}

	.entry-content > .alignwide:not(.wp-block-group.has-background),
	.entry-content > .alignfull:not(.wp-block-group.has-background) {
		margin-bottom: (3 * $base-margin);
		margin-top: (3 * $base-margin);
	}

	.entry-content > .alignwide {
		max-width: calc(100vw - #{(4 * $base-margin)});
		width: calc(100vw - #{(4 * $base-margin)});
	}
}

@media ( min-width: $desktop-nav ) {
	.entry-content > .wp-block-group.alignwide.has-background,
	.entry-content > .wp-block-group.alignfull.has-background {
		padding: (4 * $base-margin) (2 * $base-margin);
		margin-bottom: 0;
		margin-top: 0;
	}

	// ALIGNMENT CLASSES

	.entry-content > .alignleft,
	.entry-content > p .alignleft,
	.entry-content > .wp-block-image .alignleft {
		position: absolute;

		/*rtl:ignore*/
		right: calc((100vw - #{$medium-max-width}) / 2 + #{$medium-max-width} + #{$base-margin});
		max-width: calc((100% - #{$medium-max-width}) / 2 - #{(3 * $base-margin)});
	}

	.entry-content > .alignright,
	.entry-content > p .alignright,
	.entry-content > .wp-block-image .alignright,
	[class*="__inner-container"] > .alignright {
		position: absolute;

		/*rtl:ignore*/
		left: calc((100vw - #{$medium-max-width}) / 2 + #{$medium-max-width} + #{$base-margin});
		max-width: calc((100% - #{$medium-max-width}) / 2 - #{(3 * $base-margin)});
	}

	.entry-content > .alignwide:not(.wp-block-group.has-background),
	.entry-content > .alignfull:not(.wp-block-group.has-background) {
		margin-bottom: (4 * $base-margin);
		margin-top: (4 * $base-margin);
	}
}

@media ( min-width: ($large - 60px) ) {
	.entry-content > .wp-block-group.alignwide.has-background,
	.entry-content > .wp-block-group.alignfull.has-background {
		padding: (4 * $base-margin) (3 * $base-margin);
		margin-bottom: 0;
		margin-top: 0;
	}

	// ALIGNMENT CLASSES

	.entry-content > .alignfull {
		margin-bottom: 10rem;
		margin-top: 10rem;
	}

	[class*="wp-block"].alignwide.has-background [class*="__inner-container"] > .alignleft,
	[class*="wp-block"].alignwide.has-background [class*="__inner-container"] > p .alignleft,
	[class*="wp-block"].alignwide.has-background [class*="__inner-container"] > .wp-block-image .alignleft {

		/*rtl:ignore*/
		right: calc((100% - #{$medium-max-width}) / 2 + #{$medium-max-width} - #{$base-margin});
	}

	[class*="wp-block"].alignwide.has-background [class*="__inner-container"] > .alignright,
	[class*="wp-block"].alignwide.has-background [class*="__inner-container"] > p .alignright,
	[class*="wp-block"].alignwide.has-background [class*="__inner-container"] > .wp-block-image .alignright {

		/*rtl:ignore*/
		left: calc((100% - #{$medium-max-width}) / 2 + #{$medium-max-width} + #{(3 * $base-margin)});
	}
}

@media ( min-width: $large ) {
	.entry-content > .alignleft,
	.entry-content > p .alignleft,
	.entry-content > .wp-block-image .alignleft {

		/*rtl:ignore*/
		right: calc((100vw - #{$medium-max-width}) / 2 + #{$medium-max-width} + #{(2 * $base-margin)});

		/*rtl:ignore*/
		margin-left: -31rem;
	}

	.entry-content > .alignright,
	.entry-content > p .alignright,
	.entry-content > .wp-block-image .alignright {

		/*rtl:ignore*/
		left: calc((100vw - #{$medium-max-width}) / 2 + #{$medium-max-width} + #{(2 * $base-margin)});

		/*rtl:ignore*/
		margin-right: -31rem;
	}

	.entry-content > .alignwide {
		max-width: $large-max-width;
		width: $large-max-width;
	}

	[class*="__inner-container"] > .alignwide {
		max-width: $large-max-width;
		width: 100%;
	}

	.alignleft,
	.alignright,
	.entry-content > .alignleft,
	.entry-content > p .alignleft,
	.entry-content > .wp-block-image .alignleft,
	.entry-content > .alignright,
	.entry-content > p .alignright,
	.entry-content > .wp-block-image .alignright,
	[class*="wp-block"].alignwide:not(.has-background) [class*="__inner-container"] > .alignleft,
	[class*="wp-block"].alignwide:not(.has-background) [class*="__inner-container"] > p .alignleft,
	[class*="wp-block"].alignwide:not(.has-background) [class*="__inner-container"] > .wp-block-image .alignleft,
	[class*="wp-block"].alignfull [class*="__inner-container"] > .alignleft,
	[class*="wp-block"].alignfull [class*="__inner-container"] > p .alignleft,
	[class*="wp-block"].alignfull [class*="__inner-container"] > .wp-block-image .alignleft,
	[class*="wp-block"].alignwide:not(.has-background) [class*="__inner-container"] > .alignright,
	[class*="wp-block"].alignwide:not(.has-background) [class*="__inner-container"] > p .alignright,
	[class*="wp-block"].alignwide:not(.has-background) [class*="__inner-container"] > .wp-block-image .alignright,
	[class*="wp-block"].alignfull [class*="__inner-container"] > .alignright,
	[class*="wp-block"].alignfull [class*="__inner-container"] > p .alignright,
	[class*="wp-block"].alignfull [class*="__inner-container"] > .wp-block-image .alignright {
		max-width: 25rem;
	}
}

@media ( min-width: $xlarge ) {
	.alignleft,
	.alignright,
	.entry-content > .alignleft,
	.entry-content > p .alignleft,
	.entry-content > .wp-block-image .alignleft,
	.entry-content > .alignright,
	.entry-content > p .alignright,
	.entry-content > .wp-block-image .alignright,
	[class*="wp-block"].alignwide:not(.has-background) [class*="__inner-container"] > .alignleft,
	[class*="wp-block"].alignwide:not(.has-background) [class*="__inner-container"] > p .alignleft,
	[class*="wp-block"].alignwide:not(.has-background) [class*="__inner-container"] > .wp-block-image .alignleft,
	[class*="wp-block"].alignfull [class*="__inner-container"] > .alignleft,
	[class*="wp-block"].alignfull [class*="__inner-container"] > p .alignleft,
	[class*="wp-block"].alignfull [class*="__inner-container"] > .wp-block-image .alignleft,
	[class*="wp-block"].alignwide:not(.has-background) [class*="__inner-container"] > .alignright,
	[class*="wp-block"].alignwide:not(.has-background) [class*="__inner-container"] > p .alignright,
	[class*="wp-block"].alignwide:not(.has-background) [class*="__inner-container"] > .wp-block-image .alignright,
	[class*="wp-block"].alignfull [class*="__inner-container"] > .alignright,
	[class*="wp-block"].alignfull [class*="__inner-container"] > p .alignright,
	[class*="wp-block"].alignfull [class*="__inner-container"] > .wp-block-image .alignright {
		max-width: 29rem;
	}
}
