/**
 * Global layouts and styles for all contents which fall by default under that microformat
 * (see http://microformats.org/wiki/hentry)
 *
 * @group Templates
 * @components
		atoms/lists,
		atoms/media,
		atoms/quotes,
		atoms/typography
 */

.entry-content {
	line-height: 1.5;

	> * {
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 1.25em;


		&:first-child {
			margin-top: 0;
		}

		&:last-child {
			margin-bottom: 0;
		}
	}

	a:hover,
	a:focus {
		text-decoration: none;
	}

	p,
	li {
		line-height: 1.4;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		margin: 3.5rem auto 2rem;
	}

	ul ul,
	ol ol,
	ul ol,
	ol ul {
		margin-bottom: 1rem;
	}

	hr {
		margin: 4rem auto;
	}

	/* Font Families ----------------------------- */

	p,
	ol,
	ul,
	dl,
	dt {
		font-family: NonBreakingSpaceOverride, "Hoefler Text", Garamond, "Times New Roman", serif;
		letter-spacing: normal;
	}

	cite,
	figcaption,
	.wp-caption-text {
		font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, sans-serif;
	}

	@supports ( font-variation-settings: normal ) {

		cite,
		figcaption,
		.wp-caption-text {
			font-family: "Inter var", -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, sans-serif;
		}
	}

	/* Alignment Classes ------------------------- */

	> *:not(.alignwide):not(.alignfull):not(.alignleft):not(.alignright):not(.is-style-wide) {
		max-width: 58rem;
		width: calc(100% - 4rem);
	}
}
