/**
 * Site footer
 *
 * @group Organisms
 * @components
		atoms/typography,
		molecules/social-icons
 */

.footer-nav-widgets-wrapper,
#site-footer {
	background-color: #fff;
	border-color: #dedfdf;
	border-style: solid;
	border-width: 0;
}

.footer-top-visible .footer-nav-widgets-wrapper,
.footer-top-hidden #site-footer {
	margin-top: 5rem;

	@at-root .reduced-spacing#{&} {
		border-top-width: 0.1rem;
	}
}

.footer-top,
.footer-widgets-outer-wrapper,
#site-footer {
	padding: (1.5 * $base-margin) 0;
}

.footer-top {
	display: flex;
	border-bottom: 0.1rem solid #dedfdf;
	justify-content: space-between;

	@at-root .footer-menu {
		font-size: 1.8rem;
		font-weight: 700;
		letter-spacing: -0.0277em;

		li {
			line-height: 1.25;
			margin: 0.25em 0 0 0;
		}

		a {
			text-decoration: none;

			&:hover,
			&:focus {
				text-decoration: underline;
			}
		}
	}

	@at-root .footer-social {

		&-wrapper {
			margin: 0;
			width: 100%;

			.has-footer-menu & {
				flex-shrink: 0;
				margin-left: 1rem;
				width: 50%;
			}
		}

		@at-root ul#{&} {
			margin: -0.5rem 0 0 -0.5rem;

			li {
				margin: 0.5rem 0 0 0.5rem;
			}
		}

		.has-footer-menu & {
			justify-content: flex-end;
		}

		a {
			background-color: #cd2653;
			height: 3.6rem;
			width: 3.6rem;

			&::before {
				font-size: 1.6rem;
			}
		}
	}
}

.footer-widgets {
	&-outer-wrapper {
		border-bottom: 0.1rem solid #dedfdf;
	}
	+ .footer-widgets {
		margin-top: (1.5 * $base-margin);
	}
}

// Footer Bottom
#site-footer {
	font-size: 1.6rem;

	.section-inner {
		align-items: baseline;
		display: flex;
		justify-content: space-between;
	}

	a {
		text-decoration: none;

		&:focus,
		&:hover {
			text-decoration: underline;
		}
	}

	@at-root {
		.footer-copyright,
		.powered-by-wordpress {
			a {
				color: inherit;
			}
		}

		.footer-copyright {
			font-weight: 600;
			margin: 0;
		}

		.powered-by-wordpress {
			display: none;
			margin: 0 0 0 2.4rem;
			color: #6d6d6d;
		}

		.to-the-top {
			color: #6d6d6d;

			@at-root a#{&} > * {
				pointer-events: none;
			}

			&-long {
				display: none;
			}
		}
	}
}

@media ( min-width: $small ) {

	.footer-top-visible .footer-nav-widgets-wrapper,
	.footer-top-hidden #site-footer {
		margin-top: (4 * $base-margin);
	}

	// FOOTER TOP

	.footer-top {
		padding: 3.7rem 0;
	}

	.footer-menu {
		font-size: 2.4rem;
		margin: -0.8rem 0 0 -1.6rem;
	}

	.footer-menu li {
		margin: 0.8rem 0 0 1.6rem;
	}

	.has-footer-menu .footer-social-wrapper {
		flex: 1;
		margin-left: (2 * $base-margin);
		width: auto;
	}

	// FOOTER WIDGETS

	.footer-widgets-outer-wrapper {
		padding: (4 * $base-margin) 0;
	}

	.footer-widgets-wrapper {
		display: flex;
		justify-content: space-between;
		margin-left: -(2 * $base-margin);
		width: calc(100% + #{(2 * $base-margin)});
	}

	.footer-widgets {
		margin-left: (2 * $base-margin);
		width: 50%;
	}

	.footer-widgets + .footer-widgets {
		margin-top: 0;
	}

	.footer-widgets .widget {
		border-top: none;
		margin-top: 5rem;
		padding-top: 0;
	}

	.footer-widgets .widget:first-child {
		margin-top: 0;
	}

	/* FOOTER BOTTOM */

	#site-footer {
		font-size: 1.8rem;
		padding: 4.3rem 0;
	}

	.footer-credits {
		display: flex;
	}

	.footer-copyright {
		font-weight: 700;
	}

	.powered-by-wordpress {
		display: block;
	}

	.to-the-top-long {
		display: inline;
	}

	.to-the-top-short {
		display: none;
	}
}

@media ( min-width: $desktop-nav ) {
	.footer-top {
		align-items: center;
	}

	.footer-menu {
		align-items: baseline;
		display: flex;
		justify-content: flex-start;
		flex-wrap: wrap;
		font-size: 2.1rem;
		margin: -1.2rem 0 0 -2.4rem;
	}

	.footer-menu li {
		margin: 1.2rem 0 0 2.4rem;
	}
}

@media ( min-width: ($large - 60px) ) {
	.footer-menu {
		font-size: 2.4rem;
		margin: -1.5rem 0 0 (-1.5 * $base-margin);
	}

	.footer-menu li {
		margin: 1.5rem 0 0 (1.5 * $base-margin);
	}

	ul.footer-social {
		margin: -1rem 0 0 -1rem;
	}

	ul.footer-social li {
		margin: 1rem 0 0 1rem;
	}

	.footer-social a {
		height: 4.4rem;
		width: 4.4rem;
	}

	.footer-social a::before {
		font-size: 2rem;
	}

	// FOOTER WIDGETS

	.footer-widgets-wrapper {
		margin-left: -(3 * $base-margin);
		width: calc(100% + #{(3 * $base-margin)});
	}

	.footer-widgets {
		margin-left: (3 * $base-margin);
	}
}
