/**
 * The site header
 *
 * @group Organisms
 * @components
		atoms/typography,
		molecules/search-form,
		molecules/toggle
 */
#site-header {
	background: #fff;
	position: relative;

	@at-root .header-inner {
		max-width: 168rem;
		padding: 3.15rem 0;
		z-index: 100;
	}

	//
	// Header titles
	//
	@at-root {

		.header-titles-wrapper {
			align-items: center;
			display: flex;
			justify-content: center;
			padding: 0 4rem;
			text-align: center;

			body:not(.enable-search-modal) & {
				justify-content: flex-start;
				padding-left: 0;
				text-align: left;
			}
		}

		.site {

			&-title {
				font-size: 2.1rem;
				font-weight: 600;
				line-height: 1;
				margin: 0;

				a {
					color: inherit;
					display: block;
					text-decoration: none;

					&:hover,
					&:focus {
						text-decoration: underline;
					}
				}
			}


			&-description {
				margin: 1rem 0 0;
				color: #6d6d6d;
				font-size: 1.8rem;
				font-weight: 500;
				display: none;
				letter-spacing: -0.0311em;
				transition: all 0.15s linear;
			}

			&-logo {
				margin: 0;

				a,
				img {
					display: block;
				}

				.header-titles & & {
					margin: 0;
				}

				img {
					max-height: 6rem;
					margin: 0 auto;
					width: auto;

					body:not(.enable-search-modal) & {
						margin: 0;
					}
				}
			}
		}
	}

	//
	// Header navigation
	//
	@at-root {

		// desktop navigation
		.header-navigation-wrapper,
		.header-toggles {
			display: none;
		}

		// desktop and mobile toggles
		.header-inner {
			.toggle {
				align-items: center;
				display: flex;
				overflow: visible;
				padding: 0 2rem;

				svg {
					display: block;
					position: relative;
					z-index: 1;
				}

				path {
					fill: currentColor;
				}

				&:focus,
				&:hover {
					.toggle-text {
						text-decoration: underline;
					}
				}
			}
		}

		.search-toggle {
			position: absolute;
			bottom: 0;
			left: 0;
			top: 0;

			.toggle-icon,
			svg {
				height: 2.5rem;
				max-width: 2.3rem;
				width: 2.3rem;
			}
		}

		.nav-toggle {
			position: absolute;
			bottom: 0;
			right: 0;
			top: 0;
			width: 6.6rem;

			.toggle-icon,
			svg {
				height: 0.8rem;
				width: 2.6rem;
			}

			.toggle-inner {
				padding-top: 0.8rem;
			}
		}
	}
}

//
// Overlay Header
// (on 'cover' page layouyt)
//
.overlay-header {
	#site-header {
		background: transparent;
		margin: 0;
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		z-index: 2;

		@at-root .admin-bar#{&} {
			top: 32px;

			@media (max-width: $medium) {
				top: 46px;
			}
		}
	}

	.header-inner {
		color: #fff;

		.toggle-wrapper::before {
			background-color: currentColor;
			opacity: 0.25;
		}
	}

	.site-description,
	.toggle,
	.toggle-text {
		color: inherit;
	}
}

@media ( min-width: $small ) {

	// Site Header

	.header-inner {
		padding: 3.8rem 0;
	}

	.site-title {
		font-size: 2.4rem;
		font-weight: 700;
	}

	.site-description {
		display: block;
	}

	.site-logo img {
		max-height: 9rem;
		transition: height 0.15s linear, width 0.15s linear, max-height 0.15s linear;
	}

	// Header toggles

	.toggle-inner .toggle-text {
		font-size: 1.2rem;
	}

	.search-toggle {
		left: 2rem;
	}

	.nav-toggle {
		right: 2rem;
	}
}

@media ( min-width: $desktop-nav ) {
	#site-header {
		z-index: 1;
	}

	.header-inner {
		align-items: center;
		display: flex;
		justify-content: space-between;
		padding: 2.8rem 0;
	}

	.header-titles-wrapper {
		margin-right: 4rem;
		max-width: 50%;
		padding: 0;
		text-align: left;
	}

	.header-titles {
		align-items: baseline;
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-start;
		margin: -1rem 0 0 -2.4rem;
	}

	.header-titles .site-title,
	.header-titles .site-logo,
	.header-titles .site-description {
		margin: 1rem 0 0 2.4rem;
	}

	.wp-custom-logo .header-titles {
		align-items: center;
	}

	// HEADER NAVIGATION

	.header-navigation-wrapper {
		align-items: center;
		display: flex;
	}

	.primary-menu-wrapper {
		display: block;
		width: 100%;
	}

	// HEADER TOGGLES

	.mobile-search-toggle,
	.mobile-nav-toggle {
		display: none !important;
	}

	.primary-menu-wrapper + .header-toggles {
		margin-left: 3rem;
	}

	.header-toggles {
		display: flex;
		flex-shrink: 0;
		margin-right: -3rem;
	}

	.header-inner .toggle {
		height: 4.4rem;
		padding: 0 3rem;
		position: relative;
		bottom: auto;
		left: auto;
		right: auto;
		top: auto;
		width: auto;
	}

	.header-inner .toggle-wrapper {
		position: relative;
	}

	.header-inner .toggle-wrapper::before {
		background: #dedfdf;
		content: "";
		display: block;
		height: 2.7rem;
		position: absolute;
		left: 0;
		top: calc(50% - 1.35rem);
		width: 0.1rem;
	}

	.header-inner .toggle-wrapper:first-child::before {
		content: none;
	}

	.header-inner .primary-menu-wrapper + .header-toggles .toggle-wrapper:first-child::before {
		content: "";
	}

	.nav-toggle-wrapper:not(.has-expanded-menu) {
		display: none;
	}

	.toggle-inner {
		position: static;
	}

	.toggle-inner .toggle-text {
		left: 0;
		right: 0;
		text-align: center;
		top: calc(100% - 0.3rem);
		width: auto;
	}

	.header-toggles:only-child .nav-toggle .toggle-inner {
		padding-top: 0;
	}

	.header-toggles:only-child .toggle-inner {
		display: flex;
		flex-wrap: nowrap;
		align-items: center;
	}

	.header-toggles:only-child .toggle-inner .svg-icon {
		order: 1;
	}

	.header-toggles:only-child .toggle-inner .toggle-text {
		position: static;
		padding-right: 20px;
		font-size: 15px;
		color: inherit;
	}
}

@media ( min-width: ($large - 60px) ) {

	// HEADER TOGGLES

	.primary-menu-wrapper + .header-toggles {
		margin-left: 4rem;
	}

	.header-toggles {
		margin-right: -4rem;
	}

	.header-toggles .toggle {
		padding: 0 4rem;
	}
}
