/**
 * The modal navigation menu triggered from the header
 *
 * @group Molecules
 * @components
		atoms/lists,
		atoms/typography,
		molecules/cover-modal,
		molecules/toggle
 */

.menu-modal {
	background: $header-footer-background-color;
	display: none;
	opacity: 0;
	overflow-y: auto;
	overflow-x: hidden;
	position: fixed;
	bottom: 0;
	left: -99999rem;
	right: 99999rem;
	top: 0;
	transition: opacity 0.25s ease-in, left 0s 0.25s, right 0s 0.25s;
	z-index: 99;

	@at-root .admin-bar & {
		top: 32px;

		@media (max-width: $medium) {
			top: 46px;
		}
	}

	&.show-modal {
		display: flex;
	}

	&.active {
		left: 0;
		opacity: 1;
		right: 0;
		transition: opacity 0.25s ease-out;
	}

	&-inner {
		background: $header-footer-background-color;
		display: flex;
		justify-content: stretch;
		overflow: auto;
		-ms-overflow-style: auto;
		width: 100%;
	}


	//
	// Menu animation
	//

	@at-root .menu-wrapper {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		position: relative;

		.menu-item {
			position: relative;
		}
		.active {
			display: block;
		}

		&.is-toggling {
			pointer-events: none;

			.menu-item {
				position: absolute;
				top: 0;
				left: 0;
				margin: 0;
				width: 100%;
			}

			.menu-bottom .social-menu .menu-item {
				width: auto;
			}
		}

		&.is-animating {
			.menu-item,
			.toggling-target {
				transition-duration: 250ms;
			}

			.menu-item {
				transition-property: transform;
			}

			@media (prefers-reduced-motion: reduce) {
				.menu-item,
				.toggling-target {
					transition-duration: 1ms !important;
				}
			}
		}

		&.is-toggling {
			.toggling-target {
				display: block;
				position: absolute;
				top: 0;
				left: 0;
				opacity: 1;

				&.active {
					opacity: 0;
				}
			}

			.modal-menu > li:last-child li {
				border-top-color: transparent;
				border-bottom-width: 0.1rem;
			}
		}

		&.is-animating.is-toggling {
			.toggling-target {
				display: block;
				transition-property: opacity;
				opacity: 0;

				&.active {
					opacity: 1;
				}
			}
		}
	}

	@at-root .expanded-menu {
		display: none;
	}

	@at-root .mobile-menu {
		display: block;
	}

	//
	// Menu styling
	//

	@at-root .modal-menu {
		position: relative;
		left: calc(50% - 50vw);
		width: 100vw;

		li {
			border-color: #dedfdf;
			border-style: solid;
			border-width: 0.1rem 0 0 0;
			display: flex;
			flex-wrap: wrap;
			line-height: 1;
			justify-content: flex-start;
			margin: 0;
		}

		> li {
			> a,
			> .ancestor-wrapper > a {
				font-size: 2rem;
				font-weight: 700;
				letter-spacing: -0.0375em;
			}

			&:last-child {
				border-bottom-width: 0.1rem;
			}
		}

		ul {
			display: none;
			margin: 0;
			width: 100%;

			li {
				border-left-width: 1rem;

				a {
					color: inherit;
					font-weight: 500;
				}
			}
		}

		.ancestor-wrapper {
			display: flex;
			justify-content: space-between;
			width: 100%;
		}

		a {
			display: block;
			padding: $base-margin 2.5rem;
			text-decoration: none;
			width: 100%;
		}

		a:focus,
		a:hover,
		li.current-menu-item > .ancestor-wrapper > a,
		li.current_page_ancestor > .ancestor-wrapper > a {
			text-decoration: underline;
		}
	}

	.menu-top {
		flex-shrink: 0;
	}

	@at-root .menu-bottom {
		flex-shrink: 0;
		padding: (2 * $base-margin) 0;

		nav {
			width: 100%;
		}

		.social-menu {
			justify-content: center;
		}

		@at-root .menu-copyright {
			display: none;
			font-size: 1.6rem;
			font-weight: 500;
			margin: 0;

			a {
				&:focus,
				&:hover {
					text-decoration: underline;
				}
			}
		}
	}
}

//
// Menu buttons
//

button{
	&.close-nav-toggle {
		align-items: center;
		display: flex;
		font-size: 1.6rem;
		font-weight: 500;
		justify-content: flex-end;
		padding: 3.1rem 0;
		width: 100%;

		svg {
			height: 1.6rem;
			width: 1.6rem;
		}

		.toggle-text {
			margin-right: 1.6rem;
		}
	}

	&.sub-menu-toggle {
		border-left: 0.1rem solid #dedfdf;
		flex-shrink: 0;
		margin: 1rem 0;
		padding: 0 2.5rem;

		svg {
			height: 0.9rem;
			transition: transform 0.15s linear;
			width: 1.5rem;
		}

		&.active svg {
			transform: rotate(180deg);
		}
	}
}

@media ( min-width: $small ) {

	button.close-nav-toggle {
		font-size: 1.8rem;
		padding: (2 * $base-margin) 0;
	}

	button.close-nav-toggle svg {
		height: 2rem;
		width: 2rem;
	}

	button.close-nav-toggle .toggle-text {
		margin-right: 2.1rem;
	}

	.modal-menu {
		left: auto;
		width: 100%;
	}

	.modal-menu > li > a,
	.modal-menu > li > .ancestor-wrapper > a {
		font-size: 2.4rem;
		padding: 2.5rem 0;
	}

	.modal-menu ul li {
		border-left-color: transparent;
	}

	.modal-menu > li > .ancestor-wrapper > button.sub-menu-toggle {
		padding: 0 (1.5 * $base-margin);
	}

	.modal-menu > li > .ancestor-wrapper > button.sub-menu-toggle svg {
		height: 1.1rem;
		width: 1.8rem;
	}

	.menu-bottom {
		align-items: center;
		display: flex;
		justify-content: space-between;
		padding: 4.4rem 0;
	}

	.menu-copyright {
		display: block;
		flex-shrink: 0;
		margin-right: (2 * $base-margin);
	}
}

@media ( min-width: $desktop-nav ) {
	.menu-modal {
		opacity: 1;
		justify-content: flex-end;
		padding: 0;
		transition: background-color 0.3s ease-in, left 0s 0.3s, right 0s 0.3s;
	}

	.menu-modal.cover-modal {
		background: rgba(0, 0, 0, 0);
	}

	.menu-modal.active {
		background: rgba(0, 0, 0, 0.2);
		transition: background-color 0.3s ease-out;
	}

	.menu-wrapper.section-inner {
		width: calc(100% - #{(4 * $base-margin)});
	}

	.menu-modal-inner {
		box-shadow: 0 0 2rem 0 rgba(0, 0, 0, 0.1);
		opacity: 0;
		padding: 0;
		transform: translateX(20rem);
		transition: transform 0.2s ease-in, opacity 0.2s ease-in;
		width: 50rem;
	}

	.menu-modal.active .menu-modal-inner {
		opacity: 1;
		transform: translateX(0);
		transition-timing-function: ease-out;
	}

	.mobile-menu {
		display: none;
	}

	.expanded-menu {
		display: block;
	}

	.menu-bottom {
		padding: (3 * $base-margin) 0;
	}

	.menu-bottom .social-menu {
		justify-content: flex-start;
	}
}
