/**
 * The various widgets available in WordPress
 *
 * @group Organisms
 * @components
		atoms/inputs,
		atoms/lists,
		atoms/media,
		atoms/quotes,
		atoms/tables,
		atoms/typography,
		molecules/gallery,
		molecules/search-form
 */

/* Widget Base ------------------------------- */

.widget {
	margin-top: (1.5 * $base-margin);

	&:first-child {
		margin-top: 0;
	}

	@at-root .widget-content > div > * {
		&:first-child {
			margin-top: 0;
		}
		&:last-child {
			margin-bottom: 0;
		}
	}

	.widget-title {
		margin: 0 0 $base-margin;
	}

	li {
		margin: $base-margin 0 0 0;

		&:first-child,
		> ul,
		> ol {
			margin-top: 0;
		}
	}

	table {
		&,
		* {
			border-color: #dedfdf;
		}
		caption {
			background-color: #dedfdf;
		}
	}

	.post-date,
	.rss-date {
		color: #6d6d6d;
		display: block;
		font-size: 0.85em;
		font-weight: 500;
		margin-top: 0.2rem;
	}

	select {
		max-width: 100%;
	}

	// Font Families

	&_text p,
	&_text ol,
	&_text ul,
	&_text dl,
	&_text dt,
	&-content .rssSummary {
		font-family: NonBreakingSpaceOverride, "Hoefler Text", Garamond, "Times New Roman", serif;
		letter-spacing: normal;
	}

	&-content {
		cite,
		figcaption,
		.wp-caption-text {
			font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, sans-serif;

			@supports ( font-variation-settings: normal ) {
				font-family: "Inter var", -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, sans-serif;
			}
		}
	}

	// Base List Widget

	&_archive,
	&_categories,
	&_pages,
	&_meta,
	&_nav_menu,
	&_recent_comments,
	&_recent_entries,
	&_rss {
		ul {
			list-style: none;
			margin: 0;
		}
	}

	&_archive,
	&_categories,
	&_pages,
	&_meta,
	&_nav_menu {
		li {
			color: #6d6d6d;
			margin: 0.3rem 0;

			li {
				margin-left: $base-margin;
			}
		}

		a {
			font-weight: 700;
			text-decoration: none;

			&:focus,
			&:hover {
				text-decoration: underline;
			}
		}
	}
}

/* Widget: Calendar -------------------------- */

.calendar_wrap {
	font-size: 2.4rem;

	th,
	td {
		font-size: 1em;
		font-weight: 500;
		line-height: 1;
		padding: 2.5% 2.5% 1.75% 2.5%;
		text-align: center;
	}

	tfoot {
		td {
			border-bottom: none;
		}

		a {
			text-decoration: none;
		}

		#prev {
			text-align: left;
		}

		#next {
			text-align: right;
		}
	}
}


/* Widget: Image ----------------------------- */

/* Widget: Gallery --------------------------- */

.widget_media_gallery {
	.gallery {
		margin: 0 -0.4em -0.8em -0.4em;
		width: calc(100% + 0.8em);
	}
	.gallery-item {
		margin: 0 0 0.8em 0;
		padding: 0 0.4em;
	}
}

@media ( min-width: $small ) {

	.gallery-columns-2 .gallery-item {
		max-width: 50%;
	}

	.gallery-columns-3 .gallery-item {
		max-width: 33.33%;
	}

	.gallery-columns-4 .gallery-item {
		max-width: 25%;
	}

	.gallery-columns-5 .gallery-item {
		max-width: 20%;
	}

	.gallery-columns-6 .gallery-item {
		max-width: 16.66%;
	}

	.gallery-columns-7 .gallery-item {
		max-width: 14.28%;
	}

	.gallery-columns-8 .gallery-item {
		max-width: 12.5%;
	}

	.gallery-columns-9 .gallery-item {
		max-width: 11.11%;
	}
}

/* Widget: Nav Menu -------------------------- */

.widget_nav_menu .widget-content > div > ul {
	margin-left: 0;
}

/* Widget: Recent Comments ------------------- */

.widget_recent_comments {
	li {
		font-weight: 700;
	}

	a {
		text-decoration: none;

		&:focus,
		&:hover {
			text-decoration: underline;
		}
	}
}


/* Widget: Recent Entries -------------------- */

.widget_recent_entries a {
	font-weight: 700;
	text-decoration: none;

	&:focus,
	&:hover {
		text-decoration: underline;
	}
}


/* Widget: RSS ------------------------------- */

.widget_rss {
	.widget-title a.rsswidget:first-of-type {
		display: none;
	}

	.rsswidget {
		font-weight: 700;
	}

	a {
		text-decoration: none;

		&:focus,
		&:hover {
			text-decoration: underline;
		}
	}


	.rssSummary {
		margin-top: 0.5rem;
	}

	cite::before {
		content: "— ";
	}
}

/* Widget: Search ---------------------------- */

.widget_search .search-field {
	border-color: #dedfdf;
}

/* Widget: Tag Cloud ------------------------- */

.widget_tag_cloud a {
	font-weight: 700;
	margin-right: 0.5rem;
	text-decoration: none;
	white-space: nowrap;&
	&:focus,
	&:hover {
		text-decoration: underline;
	}
}

@media ( min-width: $small ) {
	.widget .widget-title {
		margin-bottom: (1.5 * $base-margin);
	}
}

@media ( min-width: ($large - 60px) ) {
	.widget-content {
		font-size: 2.1rem;
	}
}
