/**
 * 404 error page
 *
 * @group Pages
 */

.error404 {
	&-content {
		text-align: center;
	}

	#site-content {
		padding-top: 4rem;

		.search-form {
			justify-content: center;
			margin-top: 3rem;
		}
	}
}
