/**
 * 404 error page
 *
 * @group Pages
 */

.error404 {
	&-content {
		text-align: center;
	}

	#site-content {
		padding-top: (2 * $base-margin);

		.search-form {
			justify-content: center;
			margin-top: (1.5 * $base-margin);
		}
	}
}

@media ( min-width: $small ) {
	.error404 #site-content {
		padding-top: (4 * $base-margin);
	}
}
