/**
 * Clickable background overlay cover to close modals
 *
 * @group Molecules
 * @components
		core/document,
		atoms/typography
 */

.cover-modal {
	display: none;
	-ms-overflow-style: none;
	overflow: -moz-scrollbars-none;

	&::-webkit-scrollbar {
		display: none !important;
	}

	&.show-modal {
		display: block;
		cursor: pointer;

		> * {
			cursor: default;
		}
	}
}
