/**
 * Container for featured image in pages and posts
 *
 * @group Molecules
 * @components
		atoms/media
 */

.featured-media {
	margin-top: 5rem;
	position: relative;

	img {
		margin: 0 auto;
	}

	figcaption {
		margin: 1.5rem auto 0 auto;
		text-align: center;
		width: calc(100% - 5rem);
	}
}

@media ( min-width: $small ) {

	.featured-media figcaption {
		margin: 2rem auto 0 auto;
		width: calc(100% - 8rem);
	}
}

@media ( min-width: $desktop-nav ) {
	.featured-media figcaption {
		width: 100%;
	}
}
