/**
 * A generic class for a gallery of items
 * (i.e. in gallery widget)
 *
 * @group Molecules
 * @components
		atoms/{any}
 */
.gallery {
	display: flex;
	flex-wrap: wrap;
	margin: 3em 0 3em -0.8em;
	width: calc(100% + 1.6em);

	&-item {
		margin: 0.8em 0;
		padding: 0 0.8em;
		width: 100%;
	}

	&-caption {
		display: block;
		margin-top: 0.8em;
	}
}
