/**
 * Prev and Next type of Pagination for single contents
 * (i.e. single post)
 *
 * @group Molecules
 * @components
		atoms/inputs,
		atoms/typography
 */

.pagination-single {
	font-size: 1.8rem;
	margin-top: 5rem;

	&-inner {
		display: flex;
		flex-direction: column;
	}

	hr {
		&:first-child {
			margin: 0 0 2.8rem 0;
		}

		&:last-child {
			margin: 2.8rem 0 0.8rem 0;
		}
	}

	a {
		align-items: baseline;
		display: flex;
		font-weight: 600;
		letter-spacing: -0.0275em;
		text-decoration: none;
		flex: 1;

		+ a {
			margin-top: 1rem;
		}

		.arrow {
			margin-right: 1rem;
		}

		&:focus,
		&:hover {
			.title {
				text-decoration: underline;
			}
		}
	}
}
