/**
 * Indexed Pagination for posts listing pages
 *
 * @group Molecules
 * @components
		atoms/inputs,
		atoms/typography
 */

.pagination {

	.nav-links {
		align-items: baseline;
		display: flex;
		flex-wrap: wrap;
		font-size: 1.8rem;
		font-weight: 600;
		margin: -1.5rem 0 0 -2.5rem;
		width: calc(100% + 2.5rem);
	}

	&-separator {
		margin: 5rem 0;
	}

	a {
		text-decoration: none;

		&:focus,
		&:hover {
			text-decoration: underline;
		}
	}

	.dots {
		transform: translateY(-0.3em);
		color: #6d6d6d;
	}
}


.nav-links {

	> * {
		margin: 1.5rem 0 0 2.5rem;
	}

	.placeholder {
		display: none;
		visibility: hidden;
	}
}

.nav-short {
	display: none;
}
