/**
 * Indexed Pagination for posts listing pages
 *
 * @group Molecules
 * @components
		atoms/inputs,
		atoms/typography
 */

.pagination {

	.nav-links {
		align-items: baseline;
		display: flex;
		flex-wrap: wrap;
		font-size: 1.8rem;
		font-weight: 600;
		margin: -1.5rem 0 0 -2.5rem;
		width: calc(100% + 2.5rem);
	}

	&-separator {
		margin: 5rem 0;
	}

	a {
		text-decoration: none;

		&:focus,
		&:hover {
			text-decoration: underline;
		}
	}

	.dots {
		transform: translateY(-0.3em);
		color: $secondary-color;
	}
}


.nav-links {

	> * {
		margin: 1.5rem 0 0 2.5rem;
	}

	.placeholder {
		display: none;
		visibility: hidden;
	}
}

.nav-short {
	display: none;
}

@media ( min-width: $small ) {
	.pagination-separator {
		margin: (4 * $base-margin) 0;
	}

	// Display the full text for Newer and Older Posts

	.nav-short {
		display: inline;
	}

	.pagination .nav-links {
		font-size: 2.4rem;
		font-weight: 700;
		margin: -2.5rem 0 0 (-2 * $base-margin);
	}

	.nav-links > * {
		margin: 2.5rem 0 0 (2 * $base-margin);
	}
}

@media ( min-width: $desktop-nav ) {
	.pagination .nav-links {
		justify-content: space-between;
		margin: 0;
		width: 100%;
	}

	.nav-links > * {
		margin: 0 $base-margin;
	}

	.pagination .next,
	.pagination .prev {
		display: block;
	}

	.pagination .prev {
		margin: 0 auto 0 0;
	}

	.pagination .next {
		text-align: right;
		margin: 0 0 0 auto;
	}
}
