/**
 * The main menu in the header
 *
 * @group Molecules
 * @components
		atoms/lists,
		atoms/typography
 */

.primary-menu {

	&-wrapper {
		display: none;
	}

	@at-root ul#{&} {
		display: flex;
		font-size: 1.8rem;
		font-weight: 500;
		letter-spacing: -0.0277em;
		flex-wrap: wrap;
		justify-content: flex-end;
		margin: -0.8rem 0 0 -1.6rem;
	}

	.icon {
		display: block;
		height: 0.7rem;
		position: absolute;
		pointer-events: none;
		transform: rotate(-45deg);
		width: 1.3rem;

		&::before,
		&::after {
			content: "";
			display: block;
			background-color: currentColor;
			position: absolute;
			bottom: calc(50% - 0.1rem);
			left: 0;
		}

		&::before {
			height: 0.9rem;
			width: 0.2rem;
		}

		&::after {
			height: 0.2rem;
			width: 0.9rem;
		}
	}

	a {
		color: inherit;
		display: block;
		line-height: 1.2;
		text-decoration: none;
	}

	a:hover,
	a:focus,
	.current_page_ancestor {
		text-decoration: underline;
	}

	li {
		font-size: inherit;
		line-height: 1.25;
		position: relative;

		&.current-menu-item {

			> a,
			> .link-icon-wrapper > a {
				text-decoration: underline;
			}

			> a:hover,
			> .link-icon-wrapper > a:hover,
			> a:focus,
			> .link-icon-wrapper > a:focus {
				text-decoration: none;
			}
		}
	}

	> li {
		margin: 0.8rem 0 0 1.6rem;

		&.menu-item-has-children > a {
			padding-right: $base-margin;
		}

		> .icon {
			right: -0.5rem;
			top: calc(50% - 0.4rem);
		}
	}


	// SUB MENU

	ul {
		background: $primary-color;
		border-radius: 0.4rem;
		color: #fff;
		font-size: 1.7rem;
		opacity: 0;
		padding: 1rem 0;
		position: absolute;
		right: 9999rem;
		top: calc(100% + #{$base-margin});
		transition: opacity 0.15s linear, transform 0.15s linear, right 0s 0.15s;
		transform: translateY(0.6rem);
		width: 20rem;
		z-index: 1;

		&::before,
		&::after {
			content: "";
			display: block;
			position: absolute;
			bottom: 100%;
		}

		&::before {
			height: $base-margin;
			left: 0;
			right: 0;
		}

		&::after {
			border: 0.8rem solid transparent;
			border-bottom-color: $primary-color;
			right: 1.8rem;
		}

		a {
			background: transparent;
			border: none;
			color: inherit;
			display: block;
			padding: ($base-margin / 2) $base-margin;
			transition: background-color 0.15s linear;
			width: 100%;
		}

		li.menu-item-has-children {

			> a {
				padding-right: 4.5rem;
			}

			.icon {
				position: absolute;
				right: 1.5rem;
				top: calc(50% - 0.5rem);
			}
		}

		ul {
			top: -1rem;

			&::before {
				bottom: 0;
				height: auto;
				left: auto;
				right: -$base-margin;
				top: 0;
				width: $base-margin;
			}

			&::after {
				border-bottom-color: transparent;

				/*rtl:ignore*/
				border-left-color: $primary-color;
				bottom: auto;
				right: -1.6rem;
				top: $base-margin;

				@at-root .rtl & {
					transform: rotate(180deg);
				}
			}
		}
	}

	li.menu-item-has-children {
		&:hover,
		&:focus,
		&.focus {
			> ul {
				right: 0;
				opacity: 1;
				transform: translateY(0);
				transition: opacity 0.15s linear, transform 0.15s linear;
			}
		}
	}

	ul li.menu-item-has-children {
		&:hover,
		&:focus,
		&.focus {
			> ul {
				right: calc(100% + #{$base-margin});
			}
		}
	}

	//
	// Enable nav submenu expansion with tapping on arrows on large-viewport
	// touch interfaces (e.g. tablets or laptops with touch screens).
	// These rules are supported by all browsers (>IE11) and when JS is disabled.
	//
	@media (any-pointer: coarse) {

		> li.menu-item-has-children > a {
			padding-right: 0;
			margin-right: $base-margin;
		}

		ul li.menu-item-has-children > a {
			margin-right: 4.5rem;
			padding-right: 0;
			width: unset;
		}
	}

	// Repeat previous rules for IE11 (when JS enabled for polyfill).
	@at-root body.touch-enabled & {

		> li.menu-item-has-children > a {
			padding-right: 0;
			margin-right: $base-margin;
		}

		ul li.menu-item-has-children > a {
			margin-right: 4.5rem;
			padding-right: 0;
			width: unset;
		}
	}
}

@media ( min-width: ($large - 60px) ) {
	ul.primary-menu {
		margin: -0.8rem 0 0 -2.5rem;
	}

	.primary-menu > li {
		margin: 0.8rem 0 0 2.5rem;
	}
}
