/**
 * The search form, available in the theme header or as widget
 *
 * @group Molecules
 * @components
		atoms/inputs
 */

.search-form {
	align-items: stretch;
	display: flex;
	flex-wrap: nowrap;
    margin: 0 0 -0.8rem -0.8rem;

    .search-field,
    .search-submit {
        margin: 0 0 0.8rem 0.8rem;
    }

    label {
        align-items: stretch;
        display: flex;
        font-size: inherit;
        margin: 0;
        width: 100%;
    }

    .search-field {
        width: 100%;
    }

    .search-submit {
        flex-shrink: 0;

        &:focus,
        &:hover {
            text-decoration: none;
        }
    }
}
